<!DOCTYPE html>
<html>
  <head>
    <title>NBA Draft Info</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>NBA Draft Database</h1>
        <br/>
    <div>
      <a href="/drafts/" rel="all_drafts"><h2>Drafts</h2></a>
      <p>
      Provides access to each draft in the history of the NBA. 
      <br /> <span> <em> Please note: </em> </span> Information is currently incomplete; only includes a handful of years and players drafted from the University of North Carolina.           
      </p>
    </div>
    <br />
    <div>
      <a href="/selections/" rel="all_selections"><h2>Selections</h2></a>
      <p>
      Provides access to all NBA draft selections currently in the database.          
      </p>
    </div>
  </body>
</html> 