<!DOCTYPE html>
<html>
  <head>
    <title>NBA Draft Info</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>NBA Draft Database</h1>
    <div>
      <a href="/drafts/"><h2>Drafts</h2></a>
    <div>
    <div>
      <a href="/selections/"><h2>Selections</h2></a>
    <div>
  </body>
</html>