#create, #delete {
  border: 0px solid gray;
  margin: 10px 10px 10px;
  padding: 5px;
  background-color:#e6e6e6;
    width: 280px;
}



#search {
  border: 0px solid gray;
  margin: 10px 10px 10px;
  padding: 5px;
  background-color:#e6e6e6;
    width: 420px;
}

.instructions{
    
      margin: 0px 10px 0px;
      border-top:thick double #000000;
}


.indent{
    margin: 0px 10px 0px;

}



.nav{
    
      margin: 10px 10px 10px;
}


.info{
    font-size: 11px;
    
}

h1 {
  margin: 0px 0;

   font-size: 44px;
   border-bottom:thick double #000000;
   width: 410px;
}

.control h2 {
  margin: 0px 0;

}
label, textarea, select{
  display: block;  
}

input{
    display: inline;
    
}

label {
  padding-top: 10px; 
}
button {
  margin-top: 10px;
  font-family:"Cambria";
  display: block;
} 
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}
.error {
  color: red;  
}

body { 
    font-family:"Cambria" ;
    background-color:#ffffff;
    background-image: url('http://www.logodesignlove.com/images/classic/nba-logo.jpg');
    background-repeat:no-repeat;
    background-size:125px 125px;
    background-position:right top;

}

a { 
background: transparent;
outline: none;
text-decoration: none;
color:  #88ACE0;
}
/*
a:link {color:#88ACE0;}       unvisited link 
a:visited {color:grey;}   visited link 
a:hover {color:#0E1852;}   mouse over link 
a:active {color:#0E1852;}   selected link 
*/

label {
    font-style: italic;
    
}


